# Environment

CONFIG_PATH=./config/dev.yaml
MIGRATIONS_PATH=./database/migrations

# Database

DB_USR=     #username
DB_PWD=     #password
DB_HOST=    #localhost
DB_PORT=    #5536
DB_NAME=    #name
DB_DRIVER=  #postgresql

DB_URL=${DB_DRIVER}://${DB_USR}:${DB_PWD}@${DB_HOST}:${DB_PORT}/${DB_NAME}